*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

:root{
     --qr-width:300px;
     --qr-height:450px;
}

body{
     background-color:hsl(212, 45%, 89%) ;
}

.qr{
     width: var(--qr-width);
     height: var(--qr-height);
     background-color: hsl(0, 0%, 100%);
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     position: absolute;
     border-radius: 20px;
}

.qr .img{
     background: url(images/image-qr-code.png) no-repeat center;
     width:265px;
     height: 265px;
     background-size: cover;
     margin:15px auto 0 auto;
     border-radius: 10px;
}

.qr h1{
     color: hsl(218, 44%, 22%);
     font-family: 'Outfit', sans-serif;
     font-weight: 700;
     text-align: center;
     padding: 0 20px;
     font-size: 20px;
     margin-top: calc(var(--qr-height) / 30);
}

.qr p{
     color: hsl(220, 15%, 55%);
     font-size: 15px;
     font-family: 'Outfit', sans-serif;
     font-weight: 400;
     text-align: center;
     padding: 0 25px;
     margin-top: calc(var(--qr-height) / 30);
}

